* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    user-select: none;
    text-align: center;
    line-height: normal;
}

html, body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 15vh 90vh;
    justify-items: center;
}

#menu {
    display: grid;
    grid-template-columns: repeat(5, 15vw) auto;
    align-items: center;
    width: 90vw;
}

.menu-item, .extra-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 70%;
    font-size: 2vw;
    transition: all .5s;
    cursor: pointer;
    border: .1vw solid black;
}

.extra-menu {
    width: 100%;
}

.tab {
    display: grid;
    grid-template-rows: 80% auto;
    justify-items: center;
    align-items: center;
    width: 90vw;
    height: 90%;
    border: .1vw solid black;
}

.list {
    display: grid;
    grid-template-columns: repeat(5, 18vw);
    justify-items: center;
    align-items: center;
    height: 30vw;
    width: 90vw;
}  

.player-name {
    width: 14vw;
    height: 5vw;
    font-size: 1.5vw;
    padding: 0 .5vw;
    text-align: center;
}

.submit {
    width: 50vw;
    height: 5vw;
    font-size: 3vw;
}

.map {
    border: .1vw solid black;
    width: 15vw;
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    cursor: pointer;
    background-color: rgb(255, 200, 200);
    transition: all .5s;
}

.gun {
    border: .1vw solid black;
    width: 15vw;
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    background-color: rgb(255, 200, 200);
    transition: background .5s;
}

.role {
    border: .1vw solid black;
    width: 15vw;
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    background-color: rgb(255, 200, 200);
    transition: all .5s;
}

#team {
    display: grid;
    grid-template-rows: 10vh auto;
}

#result-list {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(2, auto);
    justify-items: center;
    align-items: center;
}

#map-result {
    font-size: 2vw;
}

.result {
    width: 40vw;
    height: 65vh;
    display: grid;
    grid-template-rows: 10% 8% repeat(5, auto);
    justify-items: center;
    align-items: center;
}

.result-text {
    display: flex;
    font-size: 2vw;
    font-weight: bold;
    text-indent: 2vw;
    height: 5vh;
    width: 100%;
    align-items: center;
    text-align: center;
}

.result-player > * {
    max-width: 30%;
}

#attacker {
    background-color: rgb(255, 200, 200);
    
}

#defender {
    background-color: rgb(180, 255, 180);
}

.indicator {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-bottom: .1vw solid black;
    border-top: .1vw solid black;
    height: 100%;
}

.indicator > * {
    font-size: 1.5vw;
}

.result-player {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 80%;
}

.result-player-name {
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.result-player-gun {
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.result-player-role {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1.5vw;
}

.invalid {
    border: .1vw solid red;
    background-color: rgb(255, 200, 200);
}

.selected {
    background-color: rgb(180, 255, 180);
}

@media only screen and (orientation: portrait) {
    #player-list {
        grid-template-rows: repeat(5, 20%);
        grid-template-columns: repeat(2, 50%);
        height: 90%;
        width: 90vw;
    }  

    .menu-item, .extra-menu {
        font-size: 2vh;
    }

    .player-name {
        width: 80%;
        height: 70%;
        font-size: 3vw;
        padding: 0 .5vw;
        text-align: center;
    }

    .submit {
        width: 80%;
        height: 60%;
        font-size: 3vh;
    }

    #map-list {
        grid-template-columns: repeat(3, 33%);
        height: 90%;
        width: 90vw;
    }

    .map {
        width: 80%;
        height: 80%;
        font-size: 3vw;
    }

    #gun-list, #role-list {
        display: grid;
        grid-template-columns: repeat(1, 100%);
        justify-items: center;
        align-items: center;
        height: 90%;
        width: 90vw;
    }

    .gun, .role  {
        width: 80%;
        height: 80%;
        font-size: 3.5vw;
    }

    #team {
        display: grid;
        grid-template-rows: 6vh auto;
    }
    
    #result-list {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: repeat(1, auto);
        justify-items: center;
        align-items: start;
    }
    
    #map-result {
        font-size: 4vw;
    }
    
    .result {
        width: 90%;
        height: 95%;
        display: grid;
        grid-template-rows: 12% repeat(5, auto);
        justify-items: center;
        align-items: center;
    }
    
    .result-text {
        font-size: 4vw;
        width: 100%;
        font-weight: bold;
        justify-content: start;
    }
    
    .result-player {
        width: 90%;
        height: 80%;
    }

    .result-player-name {
        font-size: 3vw;
    }

    .result-player-gun {
        font-size: 2.5vw;
    }

    .result-player-role {
        font-size: 2.5vw;
    }
}